:root {
    --button-ig-color: rgb(0, 149, 246);
    --button-ig-color-hover: rgb(24, 119, 242);
    --border-ig-color: rgb(216, 216, 216);
}

p {
    padding: 0;
    margin: 0;
}

.Button:hover {
    background-color: var(--button-ig-color-hover);
}

.Button {
    cursor: pointer;
    padding: 7px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-ig-color);
    width: 264px;
    border-radius: 8px;
    height: 18px;
    font-size: 14.5px;
    font-weight: 700;
    color: white;
}

.SignUpPage {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.birthdayPrompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainWindow {
    border: 1px solid var(--border-ig-color);
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    width: 270px;
}

.facebookLogin {
    margin: 10px;
    width: 95%;
}

.lineSeperator {
    align-items: center;
    display: flex;
    margin: 2px 0;
    margin-top: 0px !important;
    width: 275px;
}

.inputPrompts {
    gap: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.eula {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    width: 280px;
    gap: 15px;
}

.createAccount {
    margin-top: 11px;
    padding: 2rem;
}

.headingText {
    margin: 15px;
    display: flex;
    flex-direction: column;
}

#learn, #privacy, #cookies {
    color: #1e4592;
}

#birthdayHeading, #headingTextLink, #headingText {
    cursor: default;
    width: 400px;
    word-wrap: break-word;
    font-size: 14px;
}

#birthdayHeading {
    font-weight: 600;
}

#headingTextLink {
    cursor: pointer !important;
    text-decoration: none;
    color: var(--button-ig-color);
    font-weight: 600;
}

#birthdayIcon {
    margin: 0.7rem;
    height: 6rem;
}

.textArea {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

#goback {
    font-size: 14px;
    font-weight: 800;
    color: var(--button-ig-color);
}

#finalize {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#duhText {
    width: 300px;
    word-wrap: break-word;
}

#mandatoryText, #duhText {
    cursor: text;
    color: rgb(106, 106, 106);
    font-size: 12px;
    font-weight: 550;
}

#getApp {
    margin-top: 4px;
}

#signup {
    font-weight: 550;
}

#signupButton {
    margin-top: 15px;
}

#eulaAbove, #eulaBelow {
    cursor: text;
    font-size: 12px;
    font-weight: 500;
    color: rgb(115, 115, 115);
}


#leftLine, #rightLine {
    border: 1px solid #e6e6e6;
    margin: 0 10px;
}

#orText {
    cursor: text !important;
    font-size: 0.85rem;
    font-weight: 700;
    color: rgb(113, 113, 113);
}

#facebookicon {
    height: 20px;
    margin-right: 5px;
}

#sometext {
    margin-left: 0px !important;
    margin: 8.5px;
    width: 265px;
    font-size: 0.94rem !important;
    word-wrap: break-word;
}

#text {
    cursor: text;
    font-weight: 800;
    color: rgb(119, 119, 119);
}

#logo {
    cursor: pointer;
    height: 3.350rem;
}