:root {
    --button-ig-color: rgb(0, 149, 246);
    --button-ig-color-hover: rgb(24, 119, 242);
    --border-ig-color: rgb(216, 216, 216);
}

.LoginPage {
    min-height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.verticalStack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#getApp {
    cursor: text;
    font-size: 14px;
    font-weight: 450;
    padding: 0.5rem;
    padding-bottom: 0.8rem;
}

.mobileAppliction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

#android, #ios {
    height: 2.53rem;
    margin: 4px;
}

.facebookLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
}

#faceLogin {
    color: #385185;
    font-weight: 750;
    font-size: 14px;
}

.facebookLogin > * {
    padding: 3.5px;
}

#wrongCredentials {
    font-size: 14px;
    color: red;
    font-weight: 450;
    margin: 13px;
}

span, .loginButton {
    cursor: pointer;
}

.imageX {
    position: relative;
}

.fade-image:nth-child(1) {
    animation: fadeEffect1 30s infinite;
}
  
.fade-image:nth-child(2) {
    animation: fadeEffect2 30s infinite;
}
  
.fade-image:nth-child(3) {
    animation: fadeEffect3 30s infinite;
}

.fade-image {
    opacity: 0;
    box-shadow: none;
    height: 34rem;
    position: absolute;
    top: 1.64rem;
    left: 7.2rem;
}

@keyframes fadeEffect1 {
    0%, 5% {
        opacity: 0;
    }
    15% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }
    85%, 100% {
        opacity: 0;
    }
}

@keyframes fadeEffect2 {
    0%, 35% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeEffect3 {
    0%, 70% {
        opacity: 0;
    }
    80% {
        opacity: 0.7;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.createAccount, .loginPrompt {
    border: 1px solid var(--border-ig-color);
    border-radius: 0.9px;
}

.loginPrompt {
    padding: 2.45rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    width: 277px;
}

.createAccount {
    display: flex;
    height: 1px;
    width: 287px;
    padding: 1.8rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

#create {
    font-size: 14px;
    font-weight: 500;
    cursor: text;
}

#signup {
    color: var(--button-ig-color);
    font-weight: 850;
    font-size: 14px;
}

.pictureView {
    margin-top: -1rem;
    width: 24.5rem;
    height: 37rem;
    background-image: url('../Resources/instagramMainBackground.png');
    margin-right: 1.35rem;
    background-size: cover;
    background-position: center;
}

.lineSeperator {
    align-items: center;
    display: flex;
    width: 280px !important;
    margin-bottom: 1rem;
    margin-top: 0.9rem !important;
    flex-direction: row;
    margin-left: -9px !important;
}

#loginButton {
    margin-bottom: 8px;
}

#leftLine, #rightLine {
    flex-grow: 1;
    border: 1px solid #e6e6e6;
}

#orText {
    margin: 8px;
    font-size: 0.85rem;
    font-weight: 800;
    color: rgb(113, 113, 113);
}

.forgotPassword {
    cursor: pointer;
    color: rgb(0, 55, 107);
    font-weight: 500;
    font-size: 12px;
    margin-top: 1.13rem;
}

.loginInput {
    padding-top: 2.1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 0.85rem;
}

#logoImage {
    height: 3.355rem;
    padding-top: 0.633rem;
    padding-bottom: 0;
    cursor: pointer;
}

#phoneBackground {
    margin-top: 4rem;
    height: 37rem;
}

.pictureView {
    /* border: 5px solid grey; */
    left: 30%;
    top: 50%;
}

.loginPrompt {
    border: 1px solid var(--border-ig-color);
    padding-bottom: 23px;
    border-radius: 0.9px;
    left: 50%;
    top: 50%;
    padding-right: 1.8rem;
}

@media (max-width: 950px) {
    .pictureView {
        display: none;
    }
}

@media (max-width: 460px) {
    .LoginPage {
        min-height: 50vh;
    }
    .loginPrompt, .createAccount {
        border: none;
    }
}