:root {
    --button-ig-color: rgb(0, 149, 246);
    --button-ig-color-hover: rgb(24, 119, 242);
    --border-ig-color: rgb(216, 216, 216);
}

.HomePage {
    min-height: 100vh;
}

.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.hamburgerMenu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    width: 260px;
    border-right: 1px solid var(--border-ig-color);
}

.menuButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#buttons {
    display: flex;
    padding: 5px;
    height: 38px;
    align-items: flex-start;
    justify-content: center;
    width: 225px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    margin-left: 15px;
    flex-direction: column;
}

#homeButton {
    width: 27px;
    height: 25px;
    padding: 10px;
}

#home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#instaLogo {
    margin: 1.2rem;
    margin-top: 2.47rem;
    margin-left: 1.5rem;
    height: 1.95rem;
}

#buttons:hover {
    background-color: #f4f4f4;
}